doctype html
html
  body
    form(action='')
      | First name:
      br
      input(type='text', name='firstname', value='John', readonly='')
      br
      | Last name:
      br
      input(type='text', name='lastname')
      | username:
      br
      input(type='text', name='Username')
      | Password
      br
      input(type='password', name='password')
